.left-section {
    background-color: #f8f9fa;
    padding: 20px;
}
.custom_badge p{
color: black !important;
}
.left-section h5 {
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e9ecef;
    font-weight: 300;
    margin-top: 0px;
}
.custom_upcoming{
width: 90% !important
}
.nav-pills .nav-link {
    width: 100%;
    text-align: center;  
    padding: 5px;
    background-color: white;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
    color: black;
    border-radius: 0px !important;
}

.nav-pills .nav-link.active {
    background-color: black !important;
    color: white !important;
}

.nav-pills .nav-link:hover {
    background-color: rgba(184, 161, 161, 0.214);
}
.custom_btn{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px 20px 7px 20px;
    border-radius: 50px;
    border: 2px solid black;
}
.custom_btn:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    
}


.project_highlights {
    text-align: center;
}

.custom_badge {
    border: 2px solid #000; 
    padding: 5px;
    border-radius: 8px;
    background: rgba(184, 161, 161, 0.214); 
    font-size: 15px;
    font-weight: 400;
    position: relative;
    transition: all 0.3s ease;
}
p{
    margin-bottom: 6px !important;
}

.custom_badge::after {
    content: "";
    width: 10px;
    height: 10px;
    background: #000;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.custom_badge:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 380px) and (max-width: 599px)  {
    .custom_badge{
        font-size: 14px;
    }
}
@media only screen and (min-width: 290px) and (max-width: 379px)  {
    .custom_badge{
        font-size: 11px;
    }
}
@media only screen and (min-width: 380px) and (max-width: 599px)  {
    .nav-pills .nav-link{
        font-size: 12px;
    }
}
@media only screen and (min-width: 290px) and (max-width: 379px)  {
    .nav-pills .nav-link{
        font-size: 10px;
    }
}
#project6-overlay {
    width: 100%;
    left: 0;
    transform: none;
}

@media (max-width: 576px) {
    #project6-overlay {
        font-size: 14px;
    }
}

.custom_para{
    top: 52%;
}

/* Default style (for desktop/tablet) */
.custom_badge {
   
    background-color: #f8f9fa;
    border-radius: 12px;
    padding: 10px;
}

/* Center text vertically on mobile only */
@media (max-width: 768px) {
    .custom_badge {
        display: flex;
         min-height: 124px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .custom_parag{
    font-size: 12px;
    line-height: 14px;
    }

    .custom_badge p {
        margin: 0;
        line-height: 1.4;
    }
}

.custom_paddings{
padding-left: 0px !important;
}